[Unit]
Description=LGO server
After=network.target

[Service]
ExecStart=/usr/local/bin/life-goes-on -listen :%i -standalone -log /tmp/lgo.log
User=nobody
